<div class="form-inline">
	<div class="form-group mb-2">
		<input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="listFilter">
		<!-- <button class="btn btn-outline-success"(click)="filterEvents(listFilter)">buscar</button> -->
	</div>
</div>
<h5>Filtro: {{listFilter}}</h5>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th>
				<button class="btn btn-primary" (click)="changeImage()">
					<i class="{{titleShowImage}}"></i>
				</button>
			</th>
			<th>#</th>
			<th>Tema</th>
			<th>Local</th>
			<th>Data</th>
			<th>Qtde Pessoas</th>
			<th>Lote</th>
			<th>Opções</th>
		</tr>
	</thead>
	<tbody *ngIf="events && eventsFilters.length">
		<tr *ngFor="let e of eventsFilters">
			<td>
				<img *ngIf="showImage && e.imagemUrl.length" src="http://localhost:5000/img/{{e.imagemUrl}}"
					[style.width.px]="imageWidth" [style.margin.px]="imageMargin">

			</td>
			<td>{{e.id}}</td>
			<td>{{e.tema | uppercase}}</td>
			<td>{{e.local}}</td>
			<td>{{e.dataEvento | DateTimeFormatPipe }}</td>
			<td>{{e.qtdPessoas}}</td>
			<td>
				<div *ngIf="!e.lotes.length">
					Não Informado!
				</div>
				<div *ngIf="e.lotes.length">
					{{e.lotes[0].nome}}
				</div>
			</td>
					<td class="text-center">
				<button class="btn btn-success mr-2" tooltip="Editar" (click)="openModal(template)">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
				<button class="btn btn-danger" tooltip="Excluir">
					<i class="fa fa-trash" aria-hidden="true"></i></button>
			</td>
		</tr>
	</tbody>
	<tfoot *ngIf="eventsFilters == null || eventsFilters.length <=0">
		<tr>
			<td colspan="8" class="bg-secondary">
				<div class="text-center text-white">
					Nenhum evento encontrado!
				</div>

			</td>
		</tr>
	</tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  This is a modal.
</div>
</ng-template>


